<main id="user-menu-page">
  <div class="user-container">
    <div class="user-name-area">
      <div>
      <%= image_tag 'Eric-cartman.png' %>
      <p>mike</p>
      </div>
    </div>
    <div class="user-box">
      <div class="user-menu">
        <ul>
        <li>投稿一覧</li>
        <li>お気に入り登録した投稿</li>
        </ul>
      </div>
      <div class="menu-content"></div>
    </div>
  </div>
</main>