<main id="user-page">
  <div class="container">
    <div class="user-name-area">
      <div>
      <%= image_tag 'Eric-cartman.png' %>
      <p><%= @user.name %></p>
      </div>
    </div>
    <div class="user-box">
      <div class="user-menu">
        <ul>
        <li>フォロー</li>
        </ul>
      </div>
      <div class="index-main">
        <div class="posts-area">
        <%= render partial: 'partial_template/post', collection: @user.posts, as: 'post' %>
        </div>
      </div>
    </div>
  </div>
</main>
