<main id="top-page">
  <div class="catch-phrase-area">
    <h1 class="catch-phrase">世界はあるある<br>で満ちている</h1>
    <a href="" class="btn btn-border-shadow">探す</a>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 50" preserveAspectRatio="none" id="svg-bg">
    <path d="M0,0 q50,100 100,0 Z" fill="#FF0"></path>
  </svg>

  <div class="manual-area1">
    <h2 class="manual-title1">➀みんなの投稿をみてみよう</h2>
    <div class="manual-content">
      <div class="content">
        <div class="text-box">
          <p>・キーワードを入力してあるあるを見つけよう</p>
          <p>・トレンドであるあるを見つけよう</p>
        </div>
        <div class="image-box">
        <%= image_tag 'Front view MacBook mockup.png' %>
        </div>
      </div>
      <div class="content">
        <div class="text-box">
          <p>・キーワードを入力してあるあるを見つけよう</p>
          <p>・トレンドであるあるを見つけよう</p>
        </div>
        <div class="image-box">
        </div>
      </div>
    </div>
  </div>

  <div class="manual-area2">
    <h2 class="manual-title2">➁あるあるを投稿しよう</h2>
    <div class="manual-content">
      <div class="content">
        <div class="text-box">
          <p>・作成ボタンをクリックしよう</p>
        </div>
        <div class="image-box">
        </div>
      </div>
      <div class="content">
        <div class="text-box">
          <p>・テキストを入力して自分のあるあるを世界に共有しよう！</p>
        </div>
        <div class="image-box">
        </div>
      </div>
    </div>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 50" preserveAspectRatio="none" id="svg-bg-footer">
    <path d="M0,0 q50,100 100,0 Z" fill="#FFF"></path>
  </svg>
</main>

<footer>
</footer>
