<main id="top-page">
  <div class="catch-phrase-area">
    <h1 class="catch-phrase">世界はあるある<br>で満ちている</h1>
    <h2 class="app-description">
      あるある広場は学校や職場、人間関係など<br class="iphone">ありとあらゆる場面での<br class="laptop">あるあるを<br class="iphone">投稿し共有し発見するサービスです
    </h2>
    <%= link_to '探す', new_post_path, class: "btn btn-border-shadow" %>
  </div>
</main>
