<div class="search-box">
<%= search_form_for @q, url: posts_path do |f| %>
  <%= f.search_field :name_cont, class: "search-txt", placeholder: "タグを検索" %>
  <%= f.button :type => "submit", class: "search-btn" do %>
    <i class="fas fa-search"></i>
  <% end %>
<% end %>
</div>