<main id="search-page">
<div class="search-field">
  <div class="catch-phrase-area2">
    <h1 class="catch-phrase2">さあ、<br class="iphone">あるあるを<br class="tablet">見つけよう</h1>
  </div>
  <div class="search-box">
    <input class="search-txt" type="text" name="" placeholder="  #検索">
    <a href="#" class="search-btn"><i class="fas fa-search"></i></a>
  </div>
  <div class="trend-area">
  </div>
</div>
</main>