<main id="index-page">
<div class="header-field">
  <div class="search-box">
    <input class="search-txt" type="text" name="" placeholder="  #検索">
    <a href="#" class="search-btn"><i class="fas fa-search"></i></a>
  </div>
</div>
<div class="container">
  <div class="posts-area">
    <% 9.times do %>
      <div class="post">
        <p class="text">テスト中先生の行動確認しがち</p>
        <div class="function">
          <div class="btn-area">
            <button type="button" class="aruaru-btn">あるある</button>
            <div class="bar">
            <div class="aruaru-bar"></div>
            <div class="nainai-bar"></div>
            </div>
            <button type="button" class="nainai-btn">ないない</button>
          </div>
          <div class="count-area">
            <p class="aruaru-count">+576</p>
            <p class="nainai-count">-234</p>
          </div>
          <div class="footer-area">
            <p class="user-name">mike</p>
            <div class="other-btn">
              <a href=""><i class="far fa-comment fa-lg"></i></a>
              <a href=""><i class="fas fa-star fa-lg"></i></a>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <aside>
    <div class="ads"></div>
    <div class="user-ranking">
      <ul>
      <% 9.times do %>
        <li></li>
      <% end %>
      </ul>
    </div>
  </aside>
</div>
</main>