<main id="new-page">
  <div class="create-box">
    <%= form_with model: @post do |f| %>
      <div class="text-box">
        <%= f.label :content, "・テキスト", class: "text-label" %>
        <%= f.text_area :content, class: "content", placeholder: "授業中先生掃除しがち" %>
      </div>
      <%= f.submit "投稿", class: "create-button" %>
    <% end %>
  </div>
</main>
