<main id="show-page">
  <div class="show-container">
    <div class="post post-detail">
      <p class="text">テスト中先生の行動確認しがち</p>
      <div class="option">
        <div class="btn-area">
          <button type="button" class="aruaru-btn">あるある</button>
          <div class="mater">
          <div class="aruaru-bar"></div>
          <div class="nainai-bar"></div>
          </div>
          <button type="button" class="nainai-btn">ないない</button>
        </div>
        <div class="count-area">
          <p class="aruaru-count">+576</p>
          <p class="nainai-count">-234</p>
        </div>
        <div class="footer-area">
          <div class="user-area">
            <p class="user-name">mike</p>
            <%= image_tag 'Eric-cartman.png' %>
          </div>
          <div class="other-btn">
            <a href=""><i class="fas fa-star fa-lg"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="comment-area">
     <ul>
      <li>
        <p>これはあるあるw</p>
        <div class="user-area">
          <p class="user-name">mike</p>
          <%= image_tag 'Eric-cartman.png' %>
        </div>
      </li>
      <li>
        <p>それな！</p>
        <div class="user-area">
          <p class="user-name">mike</p>
          <%= image_tag 'Eric-cartman.png' %>
        </div>
      </li>
      <li>
        <p>それなああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
        <div class="user-area">
          <p class="user-name">mike</p>
          <%= image_tag 'Eric-cartman.png' %>
        </div>
      </li>
     </ul>
    </div>
  </div>
</main>