// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

main {
  width: 100%;
  height: 100%;
  text-align: center;
}

.catch-phrase-area {
  padding-top: 150px;
  background-color: yellow;
  height: 600px;
}

.catch-phrase {
  font-family: "Kosugi Maru", sans-serif;
  color: #000;
  font-size: 100px;
  margin-bottom: 70px;
}

a.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

a.btn-border-shadow {
  padding: calc(1.5rem - 12px) 3rem 1.5rem;

  background: #fff;
}

a.btn-border-shadow:before {
  position: absolute;
  top: -6px;
  left: -6px;

  width: 100%;
  height: 100%;

  content: "";
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;

  border: 3px solid #000;
  border-radius: 0.5rem;
}

a.btn-border-shadow:hover {
  padding: calc(1.5rem - 6px) 3rem;
}

a.btn-border-shadow:hover:before {
  top: 0;
  left: 0;
}

#svg-bg,
#svg-bg-footer {
  width: 100%;
  height: 120px;
}

//------------------------------------------------------------------------------------------------------------
//アプリの使い方説明部分
//------------------------------------------------------------------------------------------------------------

.manual-area1,
.manual-area2 {
  width: 100%;
  height: 1000px;
}

.manual-title1,
.manual-title2 {
  font-family: "Kosugi Maru", sans-serif;
  font-size: 2rem;
  color: #000;
  margin-bottom: 50px;
}

.manual-content {
  margin: 0 auto;
  width: 80%;
  height: 100%;
}

.content {
  display: flex;
  justify-content: space-between;
  height: 300px;
  border-bottom: 3px solid #000;
}

.text-box {
  width: 45%;
  padding: 100px 0;
  text-align: left;
}

.text-box p {
  font-family: "Kosugi Maru", sans-serif;
  font-size: large;
}

.image-box {
  width: 45%;
}

.image-box img {
  width: 100%;
}

#svg-bg-footer {
  background-color: rgb(105, 105, 105);
}

//------------------------------------------------------------------------------------------------------------
//フッター
//------------------------------------------------------------------------------------------------------------
footer {
  background-color: rgb(105, 105, 105);
  width: 100%;
  height: 400px;
}
