// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#top-page {
  width: 100%;
  text-align: center;
  background-image: url(people-img.png);
  background-position: center;
  background-color: rgba(255, 255, 255, 0.6);
  background-blend-mode: lighten;
  padding-bottom: 50px;
}

.catch-phrase-area {
  padding-top: 110px;
  height: 600px;
}

.catch-phrase {
  color: #000;
  font-size: 100px;
  margin-bottom: 60px;
}

.app-description {
  font-size: 20px;
  margin-bottom: 50px;
  line-height: 30px;
}

br.iphone {
  display: none;
}

a.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

a.btn-border-shadow {
  padding: calc(1.5rem - 12px) 3rem 1.5rem;

  background: #fff;
}

a.btn-border-shadow:before {
  position: absolute;
  top: -6px;
  left: -6px;

  width: 100%;
  height: 100%;

  content: "";
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;

  border: 3px solid #000;
  border-radius: 0.5rem;
}

a.btn-border-shadow:hover {
  padding: calc(1.5rem - 6px) 3rem;
}

a.btn-border-shadow:hover:before {
  top: 0;
  left: 0;
}

#svg-bg,
#svg-bg-iphone {
  width: 100%;
  height: 120px;
}

#svg-bg-iphone {
  display: none;
}

//------------------------------------------------------------------------------------------------------------
//アプリの使い方説明部分
//------------------------------------------------------------------------------------------------------------

.manual-area1,
.manual-area2 {
  width: 80%;
  margin: 80px auto 0;
  background-color: rgb(255, 236, 151);
  border-radius: 40px;
  padding: 30px 0;
}

.manual-title1,
.manual-title2 {
  font-size: 2rem;
  color: #000;
  margin-bottom: 50px;
}

.manual-content {
  margin: 0 auto;
  width: 60%;
}

.content {
  margin: 50px 0;
  position: relative;
}

.content img {
  width: 100%;
}

.mockup-iphone,
.mockup-ipad {
  display: none;
}

.comment {
  position: absolute;
  top: 0;
  left: -30%;
}

.comment2 {
  position: absolute;
  top: 60%;
  right: -30%;
}

.fukidasi1,
.fukidasi2 {
  display: inline-block;
  position: relative;
  margin: 20px;
  padding: 20px;
  background: #fff;
  border: 1px solid #666;
  border-radius: 20px;
}

.fukidasi1:before {
  content: "";
  position: absolute;
  bottom: -31px;
  right: 40px;
  width: 0;
  height: 0;
  border-top: 30px solid #666;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  transform-origin: left top;
  transform: skewX(40deg);
}

.fukidasi1:after {
  content: "";
  position: absolute;
  bottom: -30px;
  right: 41px;
  width: 0;
  height: 0;
  border-top: 30px solid #fff;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  transform-origin: left top;
  transform: skewX(40deg);
}

.fukidasi2:before {
  content: "";
  position: absolute;
  top: -31px;
  left: 30px;
  width: 0;
  height: 0;
  border-bottom: 30px solid #666;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  transform: skewX(40deg);
}

.fukidasi2:after {
  content: "";
  position: absolute;
  top: -30px;
  left: 31px;
  width: 0;
  height: 0;
  border-bottom: 30px solid #fff;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  transform: skewX(40deg);
}

.arrow {
  margin: 0 auto;
}

/* ------------------------------------------------------------------------------------------------------------ */
/* フッター */
/* ------------------------------------------------------------------------------------------------------------ */
footer {
  background-color: rgb(105, 105, 105);
  width: 100%;
  height: 400px;
}

@media screen and (max-width: 767px) {
  .catch-phrase {
    font-size: 45px;
  }
  .app-description {
    font-size: 14px;
  }
  br.laptop {
    display: none;
  }
  br.iphone {
    display: inline;
  }
  #svg-bg-iphone {
    display: block;
  }
  #svg-bg {
    display: none;
  }
  .content {
    font-size: 0.5rem;
  }
  .manual-title1,
  .manual-title2 {
    font-size: 1rem;
  }
  .mockup-iphone {
    display: inline-block;
  }
  .mockup-laptop {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .mockup-ipad {
    display: inline-block;
  }
  .mockup-laptop {
    display: none;
  }
  .comment {
    top: 20px;
  }
  .fukidasi1::before,
  .fukidasi1::after {
    right: 50%;
  }
}
