// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#page {
  padding: 80px 30px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.header-field {
  width: 100%;
  margin-bottom: 30px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .post-number {
    font-size: 1.125rem;
  }
}

.index-box {
  display: flex;
  justify-content: space-between;
}

.posts-area {
  width: 65%;
  display: flex;
  flex-wrap: wrap;
}

aside {
  width: 30%;
  .ads {
    width: 100%;
    height: 300px;
    background-color: yellow;
    margin-bottom: 50px;
  }
  .user-ranking {
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
    width: 80%;
    margin: 0 auto;
    li {
      border-bottom: 1px solid #000;
      height: 50px;
      text-align: center;
      padding: 15px 10px;
    }
  }
}

.page-link {
  color: red;
}

.pagination {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

@media screen and (max-width: 955px) {
  .container {
    width: 80%;
  }
  .posts-area {
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .header-field {
    justify-content: center;
  }
  aside {
    display: none;
  }
  .posts-area {
    width: 100%;
  }
}

