// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#page {
  padding: 60px 30px 120px;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.header-field {
  width: 100%;
  margin-bottom: 10px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .post-number {
    font-size: 1.125rem;
  }
}

.box {
  display: flex;
}

.index-main {
  width: 580px;
  height: 100%;
  .posts-area {
    display: flex;
    flex-wrap: wrap;
  }
  .page-item {
    text-align: center;
  }
  .page-link {
    display: inline-block;
    width: 20px;
    height: 20px;
    color: #fff;
    border: 1px solid #ff5050;
    border-radius: 20%;
    background-color: #ff5050;
    border-bottom: 3px solid #cc3737;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    &:active {
      margin-top: 2px;
      border-bottom: 1px solid #cc3737;
    }
  }
  .pagination {
    display: flex;
    justify-content: space-between;
  }
}


aside {
  margin-left: 20px;
  .ads {
    width: 300px;
    background-color: rgb(235, 235, 235);
    margin-bottom: 50px;
    border-radius: 30px;
    li {
      width: 100%;
      height: 40px;
      line-height: 40px;
      padding-left: 10px;
      &:first-child {
        text-align: center;
        font-weight: bold;
      }
      &:last-child {
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
      }
      &:hover:not(:first-child) {
        background-color: #e0e0e0;
      }
      a {
        display: inline-block;
        width: 100%;
        color: #000;
      }
    }
  }
  .user-ranking {
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
    width: 80%;
    margin: 0 auto;
    li {
      border-bottom: 1px solid #000;
      height: 50px;
      text-align: center;
      padding: 10px;
    }
  }
}

@media screen and (max-width: 955px) {
  .container {
    max-width: 378px;
  }
  .posts-area,
  .header-field {
    justify-content: center;
  }
  aside {
    display: none;
  }
  .index-main {
    width: 100%;
  }
}



