// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#page {
  padding: 80px 30px 120px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.header-field {
  width: 100%;
  margin-bottom: 30px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .post-number {
    font-size: 1.125rem;
  }
}

.index-box {
  display: flex;
  justify-content: space-between;
}

.main {
  width: 65%;
  height: 100%;
  .posts-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .page-item {
    text-align: center;
  }
  .page-link {
    display: inline-block;
    width: 20px;
    height: 20px;
    color: #fff;
    border: 1px solid #ff5050;
    border-radius: 20%;
    background-color: #ff5050;
    border-bottom: 3px solid #cc3737;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    &:active {
      margin-top: 2px;
      border-bottom: 1px solid #cc3737;
    }
  }
  .pagination {
    display: flex;
    justify-content: space-between;
  }
}


aside {
  width: 30%;
  .ads {
    width: 100%;
    height: 300px;
    background-color: yellow;
    margin-bottom: 50px;
  }
  .user-ranking {
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
    width: 80%;
    margin: 0 auto;
    li {
      border-bottom: 1px solid #000;
      height: 50px;
      text-align: center;
      padding: 15px 10px;
    }
  }
}

@media screen and (max-width: 955px) {
  .container {
    width: 80%;
  }
}

@media screen and (max-width: 767px) {
  .header-field {
    justify-content: center;
  }
  aside {
    display: none;
  }
  .main {
    width: 100%;
  }
}

