#new-page {
  padding: 80px 30px;
}

.create-box {
  width: 60%;
  max-width: 400px;
  min-width: 280px;
  margin: 0 auto;
}

.create-box form {
  border: 2px solid #e2e2e2;
  border-radius: 40px;
  padding: 30px;
}

.create-box textarea {
  overflow: hidden;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 2px solid #b6c3c6;
  color: rgb(160, 157, 157);
  font-size: 1.3rem;
  resize: none;
  margin-top: 30px;
  margin-bottom: 30px;
  &::placeholder {
    color: rgb(160, 157, 157);
  }
  &:focus {
    outline: 0;
  }
}


.create-button {
  display: block;
  font-size: 1.2rem;
  font-weight: 700;
  position: relative;
  padding: 0.3rem 2rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  letter-spacing: 0.1em;
  border-radius: 0.5rem;
  outline: none;
  color: #fff;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #ff5050;
  border-bottom: 5px solid #cc3737;
  margin: 40px auto 0;
}

.create-button:hover {
  margin-top: 43px;
  color: rgb(255, 255, 255);
  background: #ff5050;
  border-bottom: 2px solid #cc3737;
}
