#show-page {
  padding: 80px 30px 100px;
}

.show-container {
  width: 60%;
  max-width: 400px;
  min-width: 280px;
  margin: 0 auto;
}

.edit-or-destroy a {
  color: red;
}

.post-detail {
  margin-bottom: 30px;
  border-radius: 30px;
  background-color: #fff;
  border: 2px solid #e2e2e2;
  padding: 20px 20px 10px;
  color: rgb(160, 157, 157);
  .text {
    font-size: 1.40rem;
    margin: 0;
    line-height: 1.2;
    color: rgb(160, 157, 157);
    word-break: break-all;
  } 
}

.comment-area {
  border-radius: 20px;
  border: 2px solid #e2e2e2;
  ul {
    margin: 0;
    li {
      border-bottom: 2px solid #e2e2e2;
      padding: 10px 10px 0;
      color: rgb(160, 157, 157);
      &:last-child {
        border: none;
      }
      .user-area {
        justify-content: flex-end;
        margin: 5px 0;
        width: 100% !important;
        img {
          width: 25px;
          height: 25px;
        }
      }
    }
  }
}

.fixed-comment-btn {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  background-color: #fff;
  box-shadow: 0 6px 31px -2px rgb(204, 203, 203);
  i {
    color: rgb(165, 165, 165);
  }
}

.create-comment {
  display: none;
  position: fixed;
  bottom: 50px;
  height: 40px;
  width: 100%;
  border-top: 2px solid #e2e2e2;
  background-color: #fff;
  padding: 5px 20px;
  border-radius: 10px;
  input {
    background-color: rgb(206, 206, 206);
    border: none;
    width: 80%;
  }
  button {
    color: #fff;
    background-color: red;
    border-radius: 5px;
    border: none;
  }
}


@media screen and (max-width: 539px) {
  .fixed-comment-btn {
    display: none;
  }
  .create-comment {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}