#show-page {
  padding: 80px 30px 120px;
}

.show-container {
  width: 60%;
  max-width: 400px;
  min-width: 280px;
  margin: 0 auto;
}

.post-detail {
  margin-bottom: 30px;
  border-radius: 30px;
  background-color: #fff;
  border: 2px solid #e2e2e2;
  padding: 20px 20px 10px;
  color: rgb(160, 157, 157);
  .text {
    font-size: 1.40rem;
    margin: 0;
    line-height: 1.2;
    color: rgb(160, 157, 157);
    word-break: break-all;
  } 
}

.user_area {
  justify-content: space-between;
  .post-user {
    display: flex;
    align-items: center;
  }
  .leader {
    transform: scaleY(-1);
  }
  .edit-or-destroy a {
    color: rgb(160, 157, 157);
    margin-left: 10px;
    &:hover {
      border: none;
    }
  }
  .comment_edit_or_destroy p {
    color: rgb(160, 157, 157);
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
  }
}

.comment-area {
  border-radius: 20px;
  border: 2px solid #e2e2e2;
  ul {
    margin: 0;
    li {
      border-bottom: 2px solid #e2e2e2;
      padding: 10px;
      color: rgb(160, 157, 157);
      &:last-child {
        border: none;
      }
      p {
        margin-left: 20px;
        word-wrap: break-word
      }
      .comment_edit {
        display: none;
      }
      .user-area {
        img {
          width: 25px;
          height: 25px;
        }
      }
      .input-comment {
        border: none;
        border-bottom: 1px solid #4f4f4f;
        resize: none;
        overflow: hidden;
        width: 100%;
        height: 25px;
        color: rgb(160, 157, 157);
        font-family: "Kosugi Maru", sans-serif;
        margin-bottom: 10px;
        &:focus {
          outline: 0;
        }
      }
      .button {
        display: flex;
        justify-content: flex-end;
        .create-button {
          margin: 0px;
          font-size: 0.9rem;
          padding: 0.1rem 0.8rem;
          border-radius: 0.3rem;
          &:active {
            margin-top: 3px;
          }
        }
      }
    }
  }
}

.create-comment {
  display: none;
  position: fixed;
  bottom: 50px;
  height: 40px;
  width: 100%;
  border-top: 2px solid #e2e2e2;
  padding: 5px 20px;
  border-radius: 10px;
  z-index: 3;
  .search-box {
    width: 100%;
    background-color: #fff;
    border: none;
    .search-txt{
      color:rgb(160, 157, 157);
    }
    .search-txt::placeholder{
      color: #767474;
    }
    button {
      background-color: #fff;
      i {
        color: red;
      }
    }
  }
}

@media screen and (max-width: 727px) {
  .comment-area .user-area {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 575px) {
  .create-comment {
    display: flex;
    align-items: center;
  }
}