// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ----------------------------------------------------------------------------------------------------
// index
// ----------------------------------------------------------------------------------------------------

#index-page {
  padding: 150px 30px;
  width: 100%;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: 1330px;
}

.posts-area {
  width: 950px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.post {
  width: 300px;
  height: 300px;
  margin-bottom: 30px;
  border-radius: 30px;
  background-color: #fff;
  border: 2px solid rgb(216, 216, 216);
}

aside {
  width: 200px;
  height: 500px;
  background-color: yellow;
}

@media screen and (max-width: 1240px) {
  .posts-area {
    width: 630px;
  }
}

@media screen and (max-width: 920px) {
  .posts-area {
    width: 450px;
  }
  .post {
    width: 450px;
    height: 450px;
  }
}

@media screen and (max-width: 767px) {
  aside {
    display: none;
  }
  .posts-area {
    width: 100%;
    display: block;
  }
  .post {
    margin: 0 auto 30px;
  }
}

@media screen and (max-width: 360px) {
  aside {
    display: none;
  }
  .posts-area {
    width: 100%;
    display: block;
  }
  .post {
    margin: 0 auto 30px;
    width: 250px;
    height: 250px;
  }
}
