// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user-page {
  padding: 50px 30px 100px;
}

.user-name-area {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 20px; 
  position: sticky;
  top: 50px;
  background-color: #fff;
  z-index: 20;
}

.user-name-area div {
  display: flex;
  align-items: center;
}

.user-name-area img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 20px;
  border: 1px solid #000;
}

.user-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  .main {
    margin-top: 10px;
  }
}

.user-menu {
  position: sticky;
  top: 148px;
  width: 30%;
  background-color: red;
  border-radius: 10px;
  color: #fff;
}

.user-menu li {
  width: 100%;
  border-bottom: 1px solid #fff;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
}

.user-menu li:first-child {
  text-align: center;
}


@media screen and (max-width: 955px) {
  #user-page .container {
    max-width: 460px;
  }
  .user-name-area {
    position: static;
  }
  .user-box {
    display: block;
  }
  .user-menu {
    width: 100%;
    position: static;
    margin-bottom: 50px;
  }
}
